.inbox-button a {
    text-decoration: none;
    font-size:x-large;
    color: white;
    
}
.inbox-button{
    
    border:none;
    padding: 5px ;
    background-color: royalblue;
    border-radius: 5px;


}
.sent-button a {
    text-decoration: none;
    font-size:x-large;
    color: white;
    
}
.sent-button{
    
    border:none;
    padding: 5px ;
    background-color: royalblue;
    border-radius: 5px;


}








