




/* Match Container */
.match-container {
  display: flex;
  flex-wrap: wrap; /* Allows cards to wrap to the next line on smaller screens */
  justify-content: space-between; /* Evenly distributes cards horizontally with some spacing */
  margin: 20px auto;
  
  max-width: 1000px; /* Adjust this to your desired container width */

}

/* Match Card */
.match-card {
  
  width: 220px; /* Adjust this to your desired card width */
  margin-bottom: 20px;
  background-color: #fff; /* White background for card */
  border-radius: 5px; /* Rounded corners for a softer look */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  padding: 15px;
}

/* Image Holder */
.image-holder {
  text-align: center;
  margin-bottom: 10px;
}

.image-holder img {
  width: 100%;
   /* Adjust this to your desired image height */
  object-fit: cover; /* Scales image to fill container while maintaining aspect ratio */
  border-radius: 5px; /* Rounded corners for a smoother look */
}


.user-info h2 {
  font-size: 1.5em;
  margin-bottom: 5px;
  color: #3498db;  /* Adjust this to your preferred username color */
}

.user-info p {
  margin-bottom: 0; /* Remove default bottom margin for better spacing */
  color: #333; /* Adjust this to your preferred bio text color */
}

/* Optional: Hover Effects */
.match-card:hover {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1); /* Add a slight hover effect */
}

.viewprofile{
  background-color:  rgb(31, 120, 134);
  color: white;
  padding: 6px;
  border-radius: 15px;
  border: none;
  transition: background-color 0.5s ease-in-out;
  margin-top: 10px;

}
.viewprofile:hover{
  background-color:rgb(25, 181, 181) ;
}
