

*{
    padding: 0%;
    margin: 0%ss;
}
.signup{
    
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}

.Wrap{
    background :transparent;
    width: 370px;
    height: 370px;
    
   

}
.signup h1{
    text-align: center;
    color: rgb(12, 41, 67);
}
.input{
    width: 100%;
    height: 35px;
    
    margin: 20px 0;
    padding-left: 5px;
    padding-right: 5px;
    
   
}
.input input{
    width: 95%;
    height: 100%;
    background: transparent;
    border-radius: 20px;
    padding-left: 10px;
      
}

.btn{
    width: 100%;
    height: 35px;
    border-radius:20px ;
    display: flex;
    justify-content: center;
    
       
}
.btn button{
    width: 50%;
    height: 100%;
    border-radius: 20px;
}
.btn button:hover{
    background-color: rgb(216, 193, 237);
    width: 40%;
    height:100% ;
}



.login{
   background-color: burlywood;
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
}

.enclose{
    width: 350px;
    height: 330px;
   
    border-radius: 10px;
    
    background: transparent;

   
}
.enclose h1{
    text-align: center;
    font-size: 30px;

}

.enclose .input-box{
   
    width: 100%;
    height: 40px;
    margin-top: 12px;
    margin-bottom: 15px;
    
}
.input-box input{
    width: 97%;
    height: 100%;
    background: transparent;
    border-radius: 32px;
    padding-left: 5px;
}

.enclose .button{
    width: 100%;
    height: 35px;
display: flex;
justify-content: center;
    
}

.button button{

    width: 40%;
    height: 100%;
    border-radius: 20px;
    background-color: rgb(163, 217, 199);
}


.pick{
    background-color: aqua;
    
}

.ul{
    text-decoration: none;

}






