body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  form {
    margin: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="file"] {
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  textarea {
    width: 50%;
    height: 20%;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }